*[Rr]e[Ss]harper.user
[Dd]ebug/
[Rr]elease/
*.suo
*.docstates
_ReSharper.*/
src/IntegrationTests/**/*.xap
TestResult.xml
*.sln.cache
*.VisualState.xml
*.csproj.user
src/build/*
temp_build*.ps1
ClientBin/
bin/
obj/
*.swp
src/VersionInfo.cs
temp_statlight-integration*
*.user
docs/_build/*
.vs/
