@import url("default.css");

span.strikethrough { text-decoration: line-through; }

body {
    text-align: left;
}

#content {
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    color: #990000;
}

div.footer {
	background-color: #990000;
	/*color: #000000;*/
}

a {
	color: #990000;
	text-decoration: underline;
}

a:hover {
	color: #aaa;
}

a.internal {

}

a.external {
	color: #404040;
}

a:hover.external {
	color: #000000;
}